{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<main>

  <!-- wide center piece -->
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">

      <h1 class="font-weight-normal">The game that puts Humans to shame!</h1>
      <p class="lead font-weight-normal">An adult party game in which players complete fill-in-the-blank statements
        using words or phrases typically deemed offensive, risqué or politically incorrect printed on playing cards.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>


    

  </div>

</main>

{% endblock %}