{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<main>

  <h2 class="mt-4">PSYCH! There are no rules</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <tbody>
        <tr>
          <th>Setup</th>
          <td>To start the game, each player draws ten White Cards.</td>
        </tr>
        <tr>
          <th>Game Play</th>
          <td>One randomly chosen player begins as the Card Czar and plays a Black Card. The Card Czar reads the question or fill-in-the-blank phrase on the Black Card out loud.
            Everyone else answers the question or fills in the blank by passing one White Card, face down, to the Card Czar.
            
            The Card Czar shuffles all of the answers and shares each card combination with the group. For full effect, the Card Czar should usually re-read the Black Card before presenting each answer.
            The Card Czar then picks a favorite, and whoever played that answer keeps the Black Card as one Awesome Point.
            
            After the round, a new player becomes the Card Czar and everyone draws back up to ten White Cards.</td>
        </tr>
        <tr>
          <th>Pick 2s</th>
          <td>Some cards say "Pick 2" on the bottom. To answer these, each player plays two White Cards in combination. Play them in the order that the Card Czar should read them - the order matters.

            If the Card Czar has lobster claws for hands, you can use paperclips to secure the cards in the right order.</td>
        </tr>
        <tr>
          <th>Gambling</th>
          <td>If a Black Card is played and you have more than one White Card that you think could win, you can bet one of your Awesome Points to play one additional White Card.

            If you win, you keep your point. If you lose, whoever wins the round gets the point you wagered.</td>
        </tr>
        <tr>
          <th>Happy Ending</th>
          <td>When you're ready to stop playing, play the "Make a Haiku" Black Card to end the game. This is the official ceremonial ending of a good game of Cards Against Humanity, and this card should be reserved for the end. (Note: Haikus don't need to follow the 5-7-5 form. They just have to be read dramatically).</td>
        </tr>
        <tr>
          <th>The Stepto Maneuver</th>
          <td>At any time, players may trade in an Awesome Point to return as many White Cards as they'd like to the deck and draw back up to ten.</td>
        </tr>
        <tr>
          <th>Packing Heat</th>
          <td>For Pick 2s, all players draw an extra card before playing the hand to open up more options.</td>
        </tr>
        <tr>
          <th>Rando Cardrissian</th>
          <td>Every round, pick one random White Card from the pile and place it into play. This card belongs to an imaginary player named Rando Cardrissian, and if he wins the game, all players go home in a state of everlasting shame.</td>
        </tr>
        <tr>
          <th>Never Have I Ever</th>
          <td>At any time, players may discard cards that they don't understand, but they must confess their ignorance to the group and suffer the resulting humiliation.</td>
        </tr>
      </tbody>
    </table>
  </div>

</main>

{% endblock %}